flows/Create_Slack_Channel.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Slack_Channel_for_Product_Launch_0</name>
        <label>Create Slack Channel for Product Launch</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Get_Users_To_Invite_To_Channel_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>Slack_App_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>Channel_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>Slack_Workspace_Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Slack_Channel_Id</assignToReference>
            <name>slackChannelId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invite_Users_for_collaboration</name>
        <label>Invite Users for collaboration</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>Users_To_Be_Invited_In_Slack</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <elementReference>Slack_App_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>Slack_Channel_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <elementReference>Slack_Workspace_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>Slack_Workspace_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Channel_Id_as_Empty_String</name>
        <label>Assign Channel Id as Empty String</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Slack_Channel_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Channel_Name_to_Slack_Allowed_Convention_for_Channel_Name</name>
        <label>Convert Channel Name to Slack Allowed Convention for Channel Name</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Channel_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Allowed_Channel_Name_Conversion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Slack_Workspace</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserRecord</name>
        <label>AssignUserRecord</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Assignment</name>
        <label>Collection Assignment</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Users_To_Be_Invited_In_Slack</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Slack_Workspace_Configured</name>
        <label>Check if Slack Workspace Configured</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_Channel_Id_as_Empty_String</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Slack Workspace not configure</defaultConnectorLabel>
        <rules>
            <name>Slack_Workspace_Configured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Slack_Workspace.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Slack_Channel_for_Product_Launch_0</targetReference>
            </connector>
            <label>Slack Workspace Configured</label>
        </rules>
    </decisions>
    <formulas>
        <name>Slack_Allowed_Channel_Name_Conversion</name>
        <dataType>String</dataType>
        <expression>LOWER(SUBSTITUTE({!Channel_Name},&quot; &quot;, &quot;_&quot;))</expression>
    </formulas>
    <interviewLabel>Create Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Slack Channel and Invite Participants</label>
    <loops>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Users_To_Invite_To_Channel_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUserRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invite_Users_for_collaboration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Slack_Workspace</name>
        <label>Get Slack Workspace</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Slack_Workspace_Configured</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Slack_Workspace__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_To_Invite_To_Channel_0</name>
        <label>Get Users To Invite To Channel</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Channel_Name_to_Slack_Allowed_Convention_for_Channel_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Name of Slack Channel</description>
        <name>Channel_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_App_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Channel_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Slack_Workspace_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Users_To_Be_Invited_In_Slack</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
