flows/Product_Data_Management_Orchestrator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Translation_Needed</name>
        <label>Is Translation Needed?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Manage_Product_Publish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decide_on_Translation.Outputs.Is_Product_Translation_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Product_Translation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow Orchestrator for managing product data with creation, approval, translation and scheduled publish.</description>
    <interviewLabel>Product Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Data Management Orchestrator Workflow</label>
    <orchestratedStages>
        <name>Manage_Product_Creation</name>
        <label>Manage Product Creation</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Is_Translation_Needed</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Storefront_Manager_Approval</name>
            <actionName>Approval_Flow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Storefront Manager Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Marketing_Manager_Approval</name>
            <actionName>Approval_Flow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Marketing Manager Approval in Parallel</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Create_Slack_Channel</name>
            <actionName>Create_Slack_Channel</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Channel_Name</name>
                <value>
                    <elementReference>$Record.Name</elementReference>
                </value>
            </inputParameters>
            <label>Create Slack Channel for Collaboration on Product Launch and Invite Participants</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Send_Slack_Message_for_Product_Creation</name>
            <actionName>Send_Slack_Message</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Create_Slack_Channel.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>Record_Id</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Slack_Channel_Id</name>
                <value>
                    <elementReference>Create_Slack_Channel.Outputs.Slack_Channel_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Slack_Message</name>
                <value>
                    <stringValue>Product {!$Record.Name} with Description: {!$Record.Product_Description__c} is created.</stringValue>
                </value>
            </inputParameters>
            <label>Send Slack Message for Product Creation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Decide_on_Translation</name>
            <actionName>Manage_Product_Creation</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryActionInputParameters>
                <name>hasMarketingManagerApproved</name>
                <value>
                    <elementReference>Marketing_Manager_Approval.Outputs.Action_Approve_Reject</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>hasStorefrontManagerApproved</name>
                <value>
                    <elementReference>Storefront_Manager_Approval.Outputs.Action_Approve_Reject</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>Evaluation_for_Product_Approval_Status</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Comments_From_Marketing_Manager</name>
                <value>
                    <elementReference>Marketing_Manager_Approval.Outputs.Review_Comment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Comments_From_Storefront_Manager</name>
                <value>
                    <elementReference>Storefront_Manager_Approval.Outputs.Review_Comment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Wait till Approval and Decide on Translation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Manage Publish of product</description>
        <name>Manage_Product_Publish</name>
        <label>Manage Product Publish</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Publish_Product_after_Waiting_till_Publication_Date</name>
            <actionName>Publish_Product_Workflow</actionName>
            <actionType>stepBackground</actionType>
            <entryActionInputParameters>
                <name>Record_Id</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>Evaluation_for_Publish_Date</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Record_Id</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Publish Product after Waiting till Publication Date</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Send_Slack_Message</name>
            <actionName>Send_Slack_Message</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Publish_Product_after_Waiting_till_Publication_Date.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>Record_Id</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Slack_Channel_Id</name>
                <value>
                    <elementReference>Create_Slack_Channel.Outputs.Slack_Channel_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Slack_Message</name>
                <value>
                    <stringValue>Product {!$Record.Name} is published on {!$Flow.CurrentDate}.</stringValue>
                </value>
            </inputParameters>
            <label>Send Slack Message for Publish</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Archive_the_Slack_Channel</name>
            <actionName>Archive_Slack_Channel</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Send_Slack_Message.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>Slack_Channel_Id</name>
                <value>
                    <elementReference>Create_Slack_Channel.Outputs.Slack_Channel_Id</elementReference>
                </value>
            </inputParameters>
            <label>Archive the Slack Channel</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Manage Translation for product</description>
        <name>Manage_Product_Translation</name>
        <label>Manage Product Translation</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Manage_Product_Publish</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Submit_for_Translation</name>
            <actionName>Submit_Product_Translation_for_Review</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Submit for Translation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Regional_Storefront_Admin_Approval</name>
            <actionName>Approval_Flow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Submit_for_Translation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Regional Storefront Admin Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Global_Storefront_Admin_Approval</name>
            <actionName>Approval_Flow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Regional_Storefront_Admin_Approval.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Global Storefront Admin Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Manage_Product_Creation</targetReference>
        </connector>
        <object>Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SlackMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
